### Java template
*.class

# Package Files #
*.jar
*.war
*.ear

### macOS template
*.DS_Store
.AppleDouble
.LSOverride

# IntelliJ project files
.idea
.idea/*.xml
*.iml
out
gen
build
rebel.xml

# Compliled files
/target/
**/target

/example/

# Gradle
.gradle
/build/
.gradletasknamecache


출처: https://ktko.tistory.com/entry/gitignore를-사용하여-깔끔하게-git-Commit-해보기 [KTKO 개발 블로그와 여행 일기]