<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" /><meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Disney Princess Network</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/x-icon" href="/static/assets/disney.ico" />
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy81EbO46BRSnX1DOgg_F84bhsdbku2z4" ></script>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <script src="/static/js/location.js"></script>
        <link href="//db.onlinewebfonts.com/c/e6d70e2026165d37d01803d5b3f4489a?family=Waltograph" rel="stylesheet" type="text/css"/>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/home.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- 상단 네비게이션 바 -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div id="mySidebar" class="sidebar">
<!--                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>-->

                <a href="#">Home</a>
                <a class="nav-item has-submenu">
                    <a class="nav-link" href="#"> Princesses  ∨</a>
                    <ul class="submenu collapse" style="font-size:25px">
                        <li><a class="nav-link" href="#"> Rapunzel </a></li>
                        <li><a class="nav-link" href="#"> Merida </a></li>
                        <li><a class="nav-link" href="#"> Moana</a></li>
                        <li><a class="nav-link" href="#"> Mulan</a></li>
                        <li><a class="nav-link" href="#"> SnowWhite</a></li>
                        <li><a class="nav-link" href="#"> Belle</a></li>
                        <li><a class="nav-link" href="#"> Cinderella</a></li>
                        <li><a class="nav-link" href="#"> Ariel</a></li>
                        <li><a class="nav-link" href="#"> Anna</a></li>
                        <li><a class="nav-link" href="#"> Elsa</a></li>
                        <li><a class="nav-link" href="#"> Aurora</a></li>
                        <li><a class="nav-link" href="#"> Jasmine</a></li>
                        <li><a class="nav-link" href="#"> Tiana</a></li>
                        <li><a class="nav-link" href="#"> Pocahontas</a></li>
                    </ul>
                </a>
                <a href="#">Board</a>
            </div>
            <div id="main">
                <button class="openbtn" onclick="openNav()">☰</button>
            </div>

            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top" style="font-family:Waltograph; font-size:50px;">Disney Princess Network</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">about</a></li>
                        <li class="nav-item"><a class="nav-link" href="#projects">projects</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- 1번 메인화면 이미지 -->
        <header class="first_main">
                {% for name in princess_name %}
                    <a href="/workspace/princess?princess_id={{ name }}">
                        <img src="/static/assets/img/Main1/{{ name }}.png" width="20%" height="25%"></a>
                {% endfor %}

        </header>
        <!-- 2번 메인화면 이미지-->
        <section class="about-section text-center" id="about">
            {% for nums,names in princess_names %}
                <a href="/workspace/princess?princess_id={{ nums }}">
                    <img src="/static/assets/img/Main2/{{ names }}.png"></a>
            {% endfor %}
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div id="map">

            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Your Website 2021</div></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/home.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        {% load static %}
        <script>
        var latt = {{ lat }};
        var lngg = {{ lng }};
        {% autoescape off %}
        var hname = {{ hname }};
        {% endautoescape %}


        var old;
        var dom = document.getElementById("map");
        if(dom) {
         var map = new google.maps.Map(dom, {
            center: { lat: 37.5096357, lng: 127.0555218},
                        zoom: 2
         });
        var marker = new Array(14);
        var  infowindow = new Array(14);
        for(i=0; i<14; i++) {
            var latlng = {lat: latt[i], lng: lngg[i]}
            var contentString = hname[i];
            var myinfowindow = new google.maps.InfoWindow({
                content: contentString
            });
            var image = {
                  url: "{% static 'assets/img/Markers/Anna.png' %}",
                  scaledSize: new google.maps.Size(25, 25)
            };
            var marker = new google.maps.Marker({
                                    position: latlng,
                                    map: map,
                                    icon: image,
                                    infowindow: myinfowindow
            });

            marker.addListener('click', function() {      // 클릭 이벤트 발생 시 지도와 마커 출력
               if(old)
                old.close();
               this.infowindow.open(map, this);
               old = this.infowindow;
            });
          }
        }
        </script>
    </body>
</html>
