<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" /><meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Disney Princess Network</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/x-icon" href="/static/assets/disney.ico" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <link href="//db.onlinewebfonts.com/c/e6d70e2026165d37d01803d5b3f4489a?family=Waltograph" rel="stylesheet" type="text/css"/>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/home.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- 상단 네비게이션 바 -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
                <a href="#">Home</a>
                <button class="dropdown-btn">Princesses
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    {% for name in princess_name1 %}
                    <a style="font-size:20px" href="/workspace/princess?princess_name={{ name }}">{{ name }}</a>
                    {% endfor %}
                </div>
                <a href="/">Account</a>
                <a href="#">게시판</a>
            </div>
            <div id="main">
                <button class="openbtn" onclick="openNav()">☰</button>
            </div>

            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top" style="font-family:Waltograph; font-size:50px;">Disney Princess Network</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">about</a></li>
                        <li class="nav-item"><a class="nav-link" href="#projects">projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Account</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- 1번 메인화면 이미지 -->
        <header class="first_main">
            {% for name in princess_name1 %}
                <a href="/workspace/princess?princess_name={{ name }}">
                    <img src="/static/assets/img/Main1/{{ name }}.png" width="20%" height="25%"></a>
            {% endfor %}
        </header>
        <!-- 2번 메인화면 이미지-->
        <section class="about-section text-center" id="about">
            <a><img id= "main2_title" src="/static/assets/img/title_name.png"></a>
            {% for name in princess_name2 %}
                <a href="/workspace/princess?princess_name={{ name }}">
                    <img src="/static/assets/img/Main2/{{ name }}.png"></a>
            {% endfor %}
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div id="map">

            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Your Website 2021</div></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/home.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy81EbO46BRSnX1DOgg_F84bhsdbku2z4&callback=initMap"></script>
        <script>
            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 37.5096357, lng: 127.0555218},
                    zoom: 2,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    disableDefaultUI: true,
                    zoomControl: true
                });

                {% autoescape off %}
                var markerlocations = {{princess_list}};
                {% endautoescape %}

                var oms = new OverlappingMarkerSpiderfier(map, {
                    markersWontMove: true,
                    markersWontHide: true,
                    keepSpiderfied: true,
                    circleSpiralSwitchover: 40
                });


                var old, marker;
                for(i = 0; i < markerlocations.length; i++) {
                    /*console.log(markerlocations[i]);*/
                    var address = "이름 : " + '<a href="/workspace/princess/?princess_name='+markerlocations[i][3]+'">'+markerlocations[i][3]+'</a>' + "<br>나이 : " + markerlocations[i][4] + "<br>국적 : " + markerlocations[i][5];
                    var infowindow = new google.maps.InfoWindow({
                            content: address
                    });

                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(markerlocations[i][1], markerlocations[i][2]),
                        map: map,
                        icon: {
                            url: markerlocations[i][0],
                            size: new google.maps.Size(70, 80),
                            scaledSize: new google.maps.Size(70, 80),
                            anchor: new google.maps.Point(0, 80)
                        },
                        infowindow: infowindow
                    });
                    oms.addMarker(marker);

                    marker.addListener('click', function() {      // 클릭 이벤트 발생 시 지도와 마커 출력
			            if(old)
				            old.close();
			            this.infowindow.open(map, this);
			            old = this.infowindow;
                    });
                }
            }
        </script>
    </body>
</html>
